.reuseable-button button {
  margin-block-start: 1.5rem;
  padding: 0.8rem 2.4rem;
  background-color: var(--button-clr);
  color: var(--faded-white);
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
}
.reusable-button button:hover,
.reusable-button button:focus {
  background-color: var(--nypd-blue);
}
