.dashboard-sidenav {
  position: fixed;
  min-height: 100vh;
  left: 0;
  top: 4rem;
  border-right: 2px solid #ccc;
  font-size: 13px;
}
.nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 3rem 1rem;
}
.nav-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.flex-end {
  /* Make sure to fix */
  margin-block-start: 150%;
  color: var(--nypd-blue);
}
.chevron-down {
  font-size: 25px;
}
