.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 28px;
    background-color: #1D5C67;
}
.xelcomp-logo{
    color: white;
    cursor: pointer;
}
.profile-pic {
    display: flex;
    align-items: center;
    gap: 10px;
}
.usersName {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.img1 {
    width: 48px;
    height: 48px;
}

/* Styling below is for the side bar */

.ThesideBar {
    margin: 0;
    padding: 12px;
    width: 220px;
    position: fixed;
    /* top: 68px; */
    left: 0;
    height: 100%;
    background: #D7F1F5;
}
.TheUser {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    margin-top: 40px;
    gap: 10px;
    height: 35px;
    background: #1D5C67;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
.savedFile:hover {
    text-decoration: underline;
}
.sideBarNav {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    padding: 0px 10px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
.sideBarNav a {
    font-size: 15px;
}
.sideBarNav a:hover {
    text-decoration: underline;
}
.sideBarNav a:active {
    border: 1px solid #1D5C67;
    border-radius: 4px;
}

/* page-content styling starts below */

.page-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 100%;
    margin: 2em auto;
}
.page-doc {
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
}
.doc-name {
    text-align: center;
    cursor: pointer;
}
.img-doc {
    margin: 10px;
    width: 474px;
    height: 522px;
    cursor: pointer;
    border: 1px solid #1D5C67;
}
.call-to-action-btns {
    padding: 20px;
    display: flex;
    gap: 15px;
    cursor: pointer;
}
.save-files-btn {
    width: 200px;
    height: 43px;
    background: #1D5C67;
    border-radius: 16px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #D7F1F5;
    cursor: pointer;

}
.save-files-btn:active {
    background: transparent;
    color: #232424;
}
.export-btn {
    width: 200px;
    height: 43px;
    border: 2px solid #1D5C67;
    border-radius: 16px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #232424;
    background: transparent;
    cursor: pointer;
}
.export-btn:active {
    background-color: #1D5C67;;
    color: #D7F1F5;
}