.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(188, 60%, 90%);
  box-shadow: 0px 3px 10px rgba(38, 122, 137, 0.3);
  border-radius: 10px;
  padding: 1rem 0.2rem;
  max-width: 230px;
  gap: 0.5rem;
}
.card-container .icon {
  display: grid;
  place-content: center;
  padding: 12px;
  margin-block-end: 0.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: hsl(189, 59%, 84%);
}
.card-container h1 {
  color: var(--nypd-blue);
  font-size: 1.5em;
}
.card-container p {
  text-align: center;
  font: 400 0.8em var(--ff-manrope);
  color: hsl(180, 2%, 21%);
}
