.main-content {
    /* display: grid;
    place-content: center;
    width: 100%;
    min-height: 100vh; */
}
main{
}
.mainp{
    font-size: 12px;
    margin-bottom: 20px;
}
.mainbtn{
    background: #FFFFFF;
    border: 1px solid #6D6D6D;
    border-radius: 5px; 
    cursor: pointer;
    width: 160px;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    font-size: 12px;
}
.mainpbtn{
    width: 110px;
    margin-top: 10px;
}
.iconbtn{
    height: 15px;
    margin-left: 5px;
}
.recent{
    margin-bottom: 20px;
    font-size: 12px;
}

.grid{
    display: grid;
    grid-template-areas:
    'a b'  
    'c d';
    max-width: 100px;
    /* grid-template-rows: 200px; */
    gap: 30px;
    /* grid-column-gap: 50px; */
    /* grid-row-gap: 50px; */
    
}
.frame{
    width: 450px;
    height: 260px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    /* margin: auto; */
    /* padding: 15px 10px; */
    /* padding: 10px 0px 10px 0px; */
}
.sheet1{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    /* width: 90%;
    height: 100%; */
}
.gridp{
    font-size: 10px;
    text-align: center;
    /* margin-top: 10px; */
    
    margin: auto;
}
