@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Manrope", sans-serif;
}

.header{
    display: flex;
    margin: auto;
    border-radius: 0px;
    height: 60px;
    width: 100%;
    background-color: rgba(28, 91, 102, 1);
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    position: fixed;
    top: 0;
}

.logo{
    width: 10%;
    cursor: pointer;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-left: 40px;
}
.profile_image{
    display: flex;
    flex-direction: row;
    margin-right: 100px;
}
.profiledp{
    color: hsla(0, 0%, 100%, 1);
    font-size: 15px;
    line-height: 50px;
    margin-left: 10px;
}
.image{
    
  border-radius: 4px;
  padding: 5px;
  width: 60px;
}

.dropdown{
color: white;
font-size: 30px;
margin-top: 10px;

}

.dropdownside{
    color: black;
  margin-left: 10px;
  
       }

.sidebar{
    position: fixed;
    width: 230px;
    height: 100vh;
    left: 0px;
    top: 60px;
    background-color: white;
        border-right: 1.6px solid #ccc;
    padding-top: 50px;
    
}

.mainrow{
      
    padding: 100px; 
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;

}
.col1{
  
    width: 400px;
    height: 400px;
    border: 1.5px solid #ccc;
    margin-left:200px;

}
.col2{
  
    width: 400px;
    height: 400px;
    border: 1.5px solid #ccc;
    margin-left:100px;

}

.col1 p{
    text-align: center;
    
    }

.col2 p{
text-align: center;

}


.logbar{
    display: flex;
color:hsla(189, 56%, 26%, 1);
font-weight: 600;
font-size: 14px;
padding-top: 150px;
padding-left: 15px;

}
.sidenav{
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 10px;
        width:100%;
   
    }
    .sidenav p {
           
        font-size: 17px;
        padding: 12px 14px;
        width: 100%;
        
      }
    .sidenav p.active {
        background-color: #92DBE7;;
        color: white;
      }

      .sidenav p:hover {
        background-color:#92DBE7;
       
      }

.icons{
    
    margin-right: 10px;
    font-size: 18px;
}


.submit_button {
    display: flex;
    justify-content: center;
    margin-block: 1rem;

}
  
  
 .submit_button button.save {
    margin-right: 20px;
    color: white;
    background-color: #1D5C67;
    padding-left: 70px;
    padding-right: 70px;
    padding: auto;
    
   
       
  }

  .submit_button button {
    border-radius: 10px;
    font-size: 15px;
    border-color: #1D5C67;
    padding: 0.6rem 2.5rem;
   
   
 }

  .submit_button button.export{
    background-color: white;
    color: black;
    padding-left: 60px;
    padding-right: 60px;
    
  }

  .navcurrent p{
    font-size: 17px;
    padding: 12px 14px;
    width: 100%;
    background-color: #92DBE7;
  }

  



  

  