.loginContainer {
  display: flex;
  background-color: #1d5c67;
  min-height: 100vh;
  width: 100%;
}
h2 {
  font: 700 2.5rem var(--ff-manrope);
  color: var(--nypd-blue);
  padding-block-end: 2rem;
}
form {
  border-radius: 1rem;
  background-color: var(--faded-white);
  margin: auto;
  min-width: 80%;
  padding: 1rem 1.5rem;
}
form input {
  margin-block-end: 1rem;
}
label {
  color: var(--nypd-blue);
  cursor: pointer;
}
.inputbox input {
  border: 1px solid var(--nypd-blue);
  border-radius: 5px;
  padding: 0.5rem;
  margin-block-start: 0.25rem;
  min-width: 100%;
}
.checkbox span {
  margin-inline-start: 0.3rem;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.button {
  text-align: center;
  margin-block: 1rem;
}
button {
  border: none;
  border-radius: 10px;
  padding: 0.6rem 2.5rem;
  background-color: var(--button-clr);
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: var(--nypd-blue);
}
.forgotReset {
  text-align: center;
  font: 400 1rem var(--ff-manrope);
  color: var(--grey-clr);
  cursor: pointer;
}
.forgotReset span {
  padding-inline-start: 0.3rem;
  font-weight: 600;
  color: var(--button-clr);
}

/*** media query starts here***/
@media (min-width: 500px) {
  form {
    min-width: 70%;
  }
  .button {
    margin-block: 2rem;
  }
}
@media screen and (min-width: 600px) {
  form {
    min-width: 60%;
    padding: 1.5rem 1.5rem;
  }
}
@media screen and (min-width: 900px) {
  form {
    min-width: 40%;
  }
}
