@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

.nav-container {
<<<<<<< HEAD
  color: var(--faded-white);
  background: var(--nypd-blue);
  text-align: left;
  padding: 1rem;
=======
    display: flex;
    margin: auto;
    border-radius: 0px;
    /* max-width: 1440px; */
    height: 144px;
    width: 1440px;
    background-color: rgba(28, 91, 102, 1);
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    padding: 0px 80px;
    
>>>>>>> 359a5613213aec70eee3f660566fcb0e62e110ac
}
.nav-links > li,
.nav-links__cta > li {
  margin-block: 1.5rem;
  cursor: pointer;
  font-size: 0.85rem;
}
.nav-links__cta > Li {
  border: var(--faded-white) solid 1px;
  text-align: center;
  padding-block: 0.5rem;
  border-radius: 10px;
  margin: 1.5rem auto;
  font-weight: 600;
  max-width: 30%;
}
.sign-up {
  background: var(--faded-white);
  color: var(--nypd-blue);
}
@media screen and (min-width: 500px) {
  .nav-container {
    min-width: 100%;
  }
  .nav-links__cta > li {
    max-width: 25%;
  }
}
@media screen and (min-width: 690px) {
  .nav-container {
    display: flex;
<<<<<<< HEAD
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
  }

  .nav-links__cta > li {
    max-width: unset;
    padding: 0.4rem 1rem;
  }
  .nav-links,
  .nav-links__cta {
    display: flex;
    gap: clamp(2rem, 0.5rem, 2.5rem);
    align-items: center;
  }
  .nav-links {
    flex-shrink: 0;
  }
  .nav-links__cta {
    gap: 0.5rem;
  }
=======
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer; 
}
.logo {
    width: 16%;
    cursor: pointer;
    height: 10px;
    border-radius: 0px; 
    margin: 2px;
    margin-left: 50px;

} 

.navbtn {
    margin-right: 125px;
    background-color:hsla(180, 1%, 88%, 1);
    border: 2px;
    border-style: solid;
    border-color: red;
    cursor: pointer;
    margin-left: 30px;
    font-size: 14px;
    font-weight: 100;
    width: 130px;
    border-radius: 0;
}
.nav-links a {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 100;
    padding: 55px ;
}
.login {
    margin-left: 30px;
}

.feat {
    color: white;
    /* max-width: 98px; */
    
    /* color: rgba(255, 255, 255, 1);
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Manrope", sans-serif; */
}

.prod {
    /* max-width: 89px;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Manrope", sans-serif; */
}
.cont {
    /* max-width: 126px;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Manrope", sans-serif; */
>>>>>>> 359a5613213aec70eee3f660566fcb0e62e110ac
}
