.container_login {
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
  text-align: center;
  padding-block: 2rem;
}
.container_login form {
  background: var(--faded-white);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--bx-shadow);
}
.welcome-text {
  margin-block: 1rem;
  text-align: left;
}
.welcome-text h1 {
  color: var(--nypd-blue);
  line-height: 2rem;
}
.welcome-text p {
  padding-inline-start: 0.3rem;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 97%;
}
.inputs input:focus {
  outline: 1px solid var(--nypd-blue);
}
.inputs label {
  padding: 0 0 0.3rem 0.1rem;
  text-align: left;
}
.checkbox {
  margin-block-start: 0.8rem;
  display: flex;
  align-items: center;
}
.checkbox input {
  margin-inline: 0.2rem;
}
.checkbox label {
  font-size: 0.8rem;
}
.button {
  margin: 0.5rem auto;
}
.button button {
  padding: 0.6rem 1.5rem;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.button button:focus,
.button button:hover {
  background: var(--nypd-blue);
}
.account-login {
  text-align: center;
  padding-block: 0.5rem;
}
.account-login span > a {
  color: var(--nypd-blue);
  font-weight: bold;
  cursor: pointer;
  padding-inline: 0.2rem;
}
.socials-para {
  margin-block-start: 1rem;
}
.socials {
  padding-block: 0.5rem;
  text-align: center;
  display: flex;
  gap: 1rem;
  place-content: center;
}
.socials > * {
  font-size: 25px;
  cursor: pointer;
  color: #4267b2;
}
.socials .google {
  font-size: 28px;
  margin-bottom: 0.3rem;
  color: #bd4437;
}
/* Media Queries */
@media screen and (min-width: 320px) {
  .container_login form {
    min-width: 80vw;
  }
}
@media screen and (min-width: 500px) {
  .container_login {
    background: var(--nypd-blue);
  }
  .container_login form {
    min-width: 70vw;
  }
}
@media screen and (min-width: 820px) {
  .container_login form {
    min-width: 40vw;
  }
}
